!jest.config.js
*.d.ts
node_modules
.vscode

.classpath.txt
.idea
.settings
.vscode
*.iml

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.json
dist
*.swp
cdk.context.json
package-lock.json
yarn.lock

# mkdocs artifact
site
# macOS extraneous file
.DS_STORE